@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
  margin: 0;
  font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand{
  text-transform: uppercase;
  font-weight: 600;
}

.nav-link.active{
  font-weight: bold;
  border-bottom: 1px solid blue;
}

.nav-link:hover{
  cursor: pointer;
  color: yellow;
}


